body {
	background-color: #F0F0F0;
	background-image: url('../../img/background/login-register.jpg');
	background-size: cover;
	background-position: center;
}

h2 {
	color: #455a64;
}

.container-form {
	@extend %shadow-backgroundColor;
	margin-bottom: 200px;
}