// Variables globales
$color-btn: #398BF7;
$color-btn-boxShadow-1: rgba(23, 105, 255, 0.42);
$color-btn-boxShadow-2: rgba(0, 0, 0, 0.12);
$color-black-transparent: rgba(0, 0, 0, 0.1);

//Variables de chat.scss
$color-border: rgba(120, 130, 140, 0.13);