body {
	background-color: #F0F0F0;
	min-height: 100vh;
	background-image: url('../img/background/login-register.jpg');
	background-size: cover;
	background-position: center;
}

h2 {
	color: #455a64;
}

.btn-primary {
	background-color: #398BF7;
	border: 1px solid #398BF7;
	border-radius: 60px;
	font-size: 1.5rem;
}

.btn-primary:focus {
	box-shadow: none !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #398BF7 !important;
	border: 1px solid #398BF7 !important;
	box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}

.container-form {
	background-color: white; 
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 200px;
}

@media (max-width: 500px) {
	.w-50 {
		width: 100% !important;
	}
}

@media (min-width: 992px) {
	.w-50 {
		width: 40% !important;
	}
}

@media (min-width: 1250px) {
	.w-50 {
		width: 30% !important;
	}
}